@charset "UTF-8";
/* c_06_animation.css */

/* common
------------------------------------------------------------ */


/* design
------------------------------------------------------------ */

#wrap { 
    width: 900px; height: auto; 
    margin: auto; padding-bottom: 700px; box-sizing:content-box;
}

.part {
    width: 100%; height: auto;
    padding: 1rem;
    border:1px solid #777;
}

ul { width: 100%; height: auto; background-color: #eee; }

li {
    width: 100%; height: 6rem; 
    margin-bottom: 1rem; padding: 1rem;
    border-bottom: 1px solid #555;
}

.part span {
    --size:4rem;
    display: block; width: var(--size); height: var(--size);
    border-radius: 0.3rem; background-color: #e8a;
    text-align: center; line-height: var(--size); font-weight: 700;
}

/* ------------------------------------ */

.ani li:nth-child(1) > span {
    animation-name:myMove; /* 변수명 */
    animation-duration:2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes myMove {
    0% { transform:translate(0px); }
    50% { transform:translate(-100px, -100px) rotate(360deg); }
    100% { transform:translate(500px, 100px); }
}

.ani li:nth-child(2) > span {
    animation-name:myMove;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
    animation-fill-mode:backwards;
}

.ani li:nth-child(3) > span { animation:myMove 500ms infinite alternate linear both 500ms; }
.ani li:nth-child(4) > span { 
    animation:myLinear 2000ms infinite alternate; 
    animation-play-state: paused;
}

@keyframes myLinear {
    0% { transform:translatex(0); }
    50% { transform:translatex(480px) scale(1.5) rotate(720deg); }
    100% {transform:translatex(700px) scale(1.2) rotate(960deg); 
        background-color: #057; color:#fff; }
}

/* -------------------------------------------------------- */

.ani2 li:nth-child(1) > span {
    border-radius:100%;
    animation:wheel 500ms infinite normal linear both;
}
.ani2 li:nth-child(2) > span {
    border-radius:100%;
    animation:wheel 500ms infinite normal linear both;
}

@keyframes wheel {
    0% { transform:rotate(0); }
    100% { transform:rotate(-360deg); }
}

.ani2 li:nth-child(3) > span { 
    width: 3rem;
    border-radius:50px;
    animation:car 900ms infinite alternate linear both; }
@keyframes car {
    0% { transform:translatey(0); }
    100% {transform:translatey(40px); }
}

/* ------------------------------------------------------------ */

.sample {
    overflow:hidden;
    position:relative; z-index: 100;
    width: 100%; height: 800px;
    background-color: #059;
}
.sample h2 {
    width: 100%; height: auto;
    margin: 1rem auto; padding: 2rem;
    text-align: center; color:#fff;
}
.sample p {
    width: 100%; height: auto;
    margin: 2rem auto; padding-bottom: 3rem;padding-left: 2rem;
}

.car {
    position:absolute; bottom: 7rem; left: 0; right: 0;
    width: 780px; height: 290px;
    margin: auto;
    border:1px solid #057;
    background-color: #fff;
    transform:translate(100vw);
    animation:onceMove 1000ms 1 both 1000ms;
}
/* 
    transition을 이용하는 방법
    .action .car {
    transform:translate(0);
    transition:all 1000ms linear 1000ms;
} */
@keyframes onceMove {
    100% {transform:translate(0); }
}
    .win {
        overflow: hidden;
        position:absolute; top: 16.8%; left: 34%;
        width: 128px; height: 53px;
    }
    .win > span { 
        display: block; width: 110%; height: 110%;        
        background-color: rgba(0,0,0,0.5);
        border-radius: 0.2rem;
        transform-origin:0 100%;
        transform:skew(-45deg);
        animation:onceWin 1000ms 1 normal both 2600ms;
    }
    @keyframes onceWin {
        100% { 
            transform:translateY(70%) skew(-45deg); }
    }

    .wheel {
        position: absolute; bottom:0; left: 10%;
        width: 80%; height: 100px;
        background-color: #add;
    }
    .wheel span {
        width: 80px; height: 80px;
        border-radius:100%; text-align: center;
        background-color: #77a;
        animation:moveWheel 800ms infinite normal both linear;
    }
    .front_wheel { float:left; }
    .back_wheel { float:right; }
    @keyframes moveWheel {
        0% { transform:rotate(0deg); }
        100% { transform:rotate(-360deg); }
    }

.mouse {
    position:absolute; bottom: 1rem; left: 0; right: 0;
    width: 3rem; height: 6rem;
    margin: auto; padding: 1.5rem 0.5rem;
    background-color: #059;
}
    .mouse_line {
        position: relative;
        width: 100%; height: 100%;
        border: 0.3rem solid #fff;
        border-radius:2rem;
        animation:mouseMove 700ms infinite alternate linear;
    }
    .mouse_line:before,
    .mouse_line::before {
        position:absolute; top: 0.4rem; left: 0; right: 0;
        content:""; display: block;
        width: 0.5rem; height: 0.8rem;
        margin: auto;
        border-radius: 1rem;
        background-color: #fff;
        animation:mouseMove 700ms infinite alternate linear; /* 마우스 몸이랑 따로 움직임 */
    }
    @keyframes mouseMove {
        0% { transform:translatey(10%); }
        100% {transform:translatey(-10%); }
    }