@charset "UTF-8";
/* b_06_layout.css */

/* reset.css 
================================ */

html, body { width: 100%; height: 100%; }

header,nav,section,main,article,aside,footer,
figure, figcaption { 
    display:block; margin:0; padding:0; border: 0; }

html,body,
h1,h2,h3,h4,h5,h6,
p,pre,address,
ul,ol,li,dl,dt,dd {
    margin:0; padding:0;
    font-size:1rem;
    font-family:'apple SD', 'myriad pro', arial, sans-serif;
}

ul,ol { list-style:none; }
table,tr,td,th,thead,tbody,tfoot {
    border:1px solid #333; border-spacing:0; border-collapse:collapse;
}

em,address { font-style:normal; }

a { text-decoration:none; color:inherit; }
button { border:0; background-color:transparent; cursor:pointer;}

/* common.css 
=============================== */

.clearfix:after,
.clearfix::after {
    content:""; display:block; clear: both;
}

.blind {
    width: 0; height: 0; overflow:hidden;
}

/* design
--------------------------------------------------------- */

#wrap {
    width: 1440px; height:auto; min-height:500px;
    margin:auto;
    background-color: #ddd;
}

/* headBox
------------------------------------------------ */
#headBox {
    width: 100%; height:100px;
    box-sizing: border-box; padding:20px 170px 10px;
    background-color: #c4c4c4;
}
    h1 {
        float:left;
        width: 120px; height: 70px;
        background-color: #555;
    }
    .navigation {
        float:right;
        width:270px; height:auto;
    }
        .unb {
            float:right;
            width: 270px; height: 26px;
            margin-bottom:9px;
            background-color: #555;
        }
        .gnb {
            float:right;
            width: 510px; height: 35px;
            background-color: #555;
        }


/* viewBox
------------------------------------------------ */
#viewBox {
    width: 100%; height:600px;
    box-sizing:border-box; padding:100px 270px;
    background-color: #834c33;
}
    #viewBox div {
        float:left;
        width: 380px; height: 400px;
        background-color: #c4c4c4;
    }
    .text {
        margin-right:80px;
    }

/* newBox
------------------------------------------------ */
#newBox {
    width: 100%; height:700px;
    box-sizing: border-box; padding-top:67px;
    background-color: #fff;
}
    #newBox h2 {
        width: 245px; height: 54px;
        margin-left:270px;
        background-color: #ddd;      
    }
    .new_con {
        width: 100%; height:auto;
        margin-top:58px; margin-left:250px;
    }
    .new_con li {
        float:left;
        width: 300px; height: 370px;
        margin-right:20px;
        background-color: #777;
    }
    .new_con li:last-child { margin-right:0; }


/* subBox
------------------------------------------------ */
#subBox {
    width: 100%; height:350px;
    background-color: #ffbd55;
}



/* bestBox
------------------------------------------------ */
#bestBox {
    width: 100%; height:700px;
    background-color: #fff;
}



/* gallryBox
------------------------------------------------ */
#gallryBox {
    width: 100%; height:750px;
    background-color: #f7e9d3;
}



/* sponserBox
------------------------------------------------ */
#sponserBox {
    width: 100%; height:100px;
    background-color: #777;
}



/* footBox
------------------------------------------------ */
#footBox {
    width: 100%; height:450px;
    background-color: #171717;
}


