@charset "UTF-8";
/* c_03_layout.css */

/* common
------------------------------------------------------------ */


/* design
------------------------------------------------------------ */
#wrap {
    width: 1000px; height:auto; min-height:500px;
}
.container {
    float: left; width: 840px; 
}

/* headBox
------------------------------------------------------------- */
#headBox {
    position:relative; z-index: 1000;
    float:left;
    width: 160px; height: 650px;
    box-sizing: border-box; padding: 10px;
    background-color: #aaa;
}
    h1 {
        width: 100%; height: 50px;
        margin-bottom: 20px;
        background-color: #fff;
    }
    h1 a {
        display:block;
        width: 100%; height: 100%;
    }
    .gnb { width: 100%; height:auto; }
    .gnb ul { width: 100%; height:auto; }
    .gnb li { 
        width: 100%; height: 40px; box-sizing:border-box;
        border:1px solid #555
    }
    .gnb dl { position:relative; width: 100%; height: 100%; }
    .gnb dt {
        width: 100%; height: 100%;
        padding: 3px; box-sizing:border-box;
        background-color: #aaa;
    }
    .gnb dt a {
        display: block;
        width: 100%; height: 100%;
        text-align:center;
        background-color: #ddd;
    }
    .gnb li:hover dt { color:#fff; background-color: #333; }
    .gnb dt a:hover {
        color:#fff;
        background-color: #333;
    }

    .gnb dd {
        display:none; position:absolute; top: 0; left: 0;
        width: 100%; height:auto; min-height:160px;
        margin-left: 100%;
        transform: translate(0%);
        background-color: #444;
    }
    .gnb li:hover dd { display: block; }

    .gnb dd a {
        display:block;
        width: 100%; height:auto;
        margin-bottom: 10px;
        color:#fff;
        padding: 10px; box-sizing: border-box;
    }
    .gnb dd a:hover {
        color:#333;
        background-color: #fff;
    }
   
    .gnb dd a:focus {
        color:#f06; font-size: 1.1rem; background-color: #ddd;
    }


/* viewBox
------------------------------------------------------------- */
#viewBox {
    height: 350px;
    background-color: #ccc;
}


/* conBox
------------------------------------------------------------- */
#conBox { height: 200px; }
.notice_gallery {
    float: left;
    width: 65%; height:100%;
    padding: 10px;
    background-color: #fff;
}
    .notice_gallery dl { 
        position:relative;
        width: 100%; height: 100%; 
        background-color: #eee;
    }
    .notice_gallery dt { 
        float:left;
        width: 45%; height: 25px; 
        border-right:1px solid #333;
        background-color: #aaa;
    }
    .notice_gallery dt:last-child { border:0; }
        
    .notice_gallery dd {
        display: none;
        position:absolute;
        left: 0; top: 25px;
        width: 100%; height: calc(100% - 25px);
    }
    dd.notice { background-color: #484; }
    dd.gallety { background-color: #456; }

    dt.action + dd {display: block;}


.location_link {
    float: left;
    width: 35%; height:100%;
    background-color: #ddd;
}
.location_link button {
    width: 100%; height: 100%;
    background-color: #333; color:#fff;
}

.modal_area {
    position:fixed; 
    top: 0; left: 0; right: 0; bottom: 0; z-index: 1500; 
    margin:auto;
}
    .modal_message {
        position:absolute; 
        top: 0; left: 0; right: 0; bottom: 0; margin:auto;
        width: 700px; height: 400px;
        padding: 20px;
        border:1px solid #333;
        background-color: #fff;
        box-shadow:5px 5px 5px #444;
    }
        .close {
            position: absolute; right: 0; bottom: 0;
            padding: 10px;
        }
        .close button {
            width: 100px; height: 40px;
            border-radius: 0.3rem;
            background-color: #888;
            box-shadow:5px 5px 5px #444;
        }
    .modal_bg {
        width: 100%; height: 100%;
        background-color: rgba(51,51,51,0.5);
    }

/* footBox
------------------------------------------------------------- */
#footBox {
    height: 100px;
    box-sizing: border-box; padding: 30px;
    background-color: #ccc;
}
#footBox h2 {
    float:left;
    width: 160px; height:40px;
    background-color: #fff;
}
address {
    float:left;
    width: 360px; height: 40px;
    margin: 0 50px;
    background-color: #fff;
}
.family {
    float:right;
    width: 160px; height: 40px;
    background-color: #fff;
}