// _footBox.scss

#footBox {
  width: 100%;
  background-color: $color_white;
  @include mobile { @include remUnit(height, 124); padding-top: 37px; }
  @include tablet { @include remUnit(height, 238); padding-top: 60px; }
  @include laptop { @include remUnit(height, 240); padding-top: 50px; }
  @include pc { @include remUnit(height, 240); padding-top: 50px; }
}// #footBox

.foot_inner {
  margin: auto;
  @include mobile { width: 248px; height: 65px; }
  @include tablet { width: 518px; height: 132px; }
  @include laptop { width: 942px; height: 132px; }
  @include pc { width: 942px; height: 132px; }

  h2 {  
    @include mobile { @include blind; }
    @include tablet { @include blind; }
    @include laptop { float:right; width: 128px; height: 124px; }
    @include pc { float:right; width: 128px; height: 124px; }
  }
}


address { float:left; width: 576px; height: 132px; 
  p { 
    margin-bottom: 10px; line-height:140%; text-transform: capitalize; 
    &:last-child { margin-bottom: 0; }
    span { text-transform: uppercase; }
  }
}