// _menuBox.scss

$imgPath:'../../multi/img/base/menuBox/';

#menuBox {
  width: 100%;
  background-color: $color_ottogi_blue;
  @include mobile { @include remUnit(height, 166); }
  @include tablet { @include remUnit(height, 132); }
  @include laptop { @include remUnit(height, 66); }
  @include pc { @include remUnit(height, 66); }
}// #menuBox

.menu_inner {
  height: 100%; margin: auto;
  @include mobile { display: flex; justify-content: start; flex-direction: column-reverse; }
  @include tablet { display: flex; justify-content: start; flex-direction: column-reverse; }
  @include laptop { width: 965px; }
  @include pc { width: 965px; }
}

// menu -------------------------------------------------

@include mobile {
  .menu_tab { 
    width: 100%; height:  100px; background-color: $color_gray_01;border-bottom: 1px solid $color_gray_02;
    ul { width: 100%; height: auto; margin:auto; }
   li { float:left; position:relative; width: 50%; height: 50px; 
   &:nth-child(1) { width: 100%; border-bottom: 1px solid $color_gray_02; }
   &:after, &::after {
     content:""; display:block;
     position:absolute; top: 0; bottom:0; right: 0; margin: auto;
     width: 0; height: 20px; border-right:1px solid $color_black;
   }
   &:last-child:after, &:last-child::after { display: none; } 
 
   a { display: block; width: 100%; height: 80%; text-align: center; line-height: 50px; color:$color_black; }
   a:hover { font-size:1.1rem; font-weight: bold; }
   }
 }
}
@include tablet {
  .menu_tab { 
     width: 100%; height:  66px; background-color: $color_gray_01; border-bottom: 1px solid $color_gray_02;
     ul { width: 552px; height: auto; margin:auto; }
    li { float:left; position:relative; width: 184px; height: 66px; text-align: center;
    
    &:after, &::after {
      content:""; display:block;
      position:absolute; top: 0; bottom:0; right: 0; margin: auto;
      width: 0; height: 20px; border-right:1px solid $color_black;
    }
    &:last-child:after, &:last-child::after { display: none; } 
  
    a { text-align: center; line-height: 66px; color:$color_black; }
    a:hover { font-size:1.1rem; font-weight: bold; }
    }
  }
}
@include laptop {
  .menu_tab { 
    float:left; width: auto; height: auto; 
    ul { width: 100%; height: auto; }
    li { float:left; position:relative; width: 184px; height: 66px; text-align: center;
    
    &:after, &::after {
      content:""; display:block;
      position:absolute; top: 0; bottom:0; right: 0; margin: auto;
      width: 0; height: 20px; border-right:1px solid #fff;
    }
    &:last-child:after, &:last-child::after { display: none; } 
  
    a { text-align: center; line-height: 66px; color:#fff; }
    a:hover { font-size:1.1rem; font-weight: bold; }
    }
  }
}
@include pc {
  .menu_tab { 
    float:left; width: auto; height: auto; 
    ul { width: 100%; height: auto; }
    li { float:left; position:relative; width: 184px; height: 66px; text-align: center;
    
    &:after, &::after {
      content:""; display:block;
      position:absolute; top: 0; bottom:0; right: 0; margin: auto;
      width: 0; height: 20px; border-right:1px solid #fff;
    }
    &:last-child:after, &:last-child::after { display: none; } 
  
    a { text-align: center; line-height: 66px; color:#fff; }
    a:hover { font-size:1.1rem; font-weight: bold; }
    }
  }
}

// sns --------------------------------------------------------------------

.menu_sns {
  li:nth-child(1) { @include img('facebook.png')}
  li:nth-child(2) { @include img('youtube.png')}
  li:nth-child(3) { @include img('instagram.png')}
  li:nth-child(4) { @include img('blog.png')}
}

@include mobile {
  .menu_sns {
    width: auto; height: auto; margin: auto; padding-top: 15px;
    ul { width: 100%; height: auto;}
    li {
      float:left; width: 35px; height: 35px; margin-right: 30px; 
    }
    li:nth-child(2) { padding-top: 5px; }
    li:last-child { padding-top: 3px; margin-right: 0; }
    li a { width: auto; height: auto; }
  }
}
@include tablet {
  .menu_sns {
    width: auto; height: auto; margin: auto; padding-top: 15px;
    ul { width: 100%; height: auto;}
    li {
      float:left; width: 35px; height: 35px; margin-right: 100px; 
    }
    li:nth-child(2) { padding-top: 5px; }
    li:last-child { padding-top: 3px; margin-right: 0; }
    li a { width: auto; height: auto; }
  }
}
@include laptop {
  .menu_sns {
    float:right; width: auto; height: auto; padding-top: 15px;
    ul { width: 100%; height: auto; }
    li {
      float:left; width: 35px; height: 35px; margin-right: 20px; 
    }
    li:nth-child(2) { padding-top: 5px; }
    li:last-child { padding-top: 3px; margin-right: 0; }
    li a { width: auto; height: auto; }
  }
}
@include pc {
  .menu_sns {
    float:right; width: auto; height: auto; padding-top: 15px;
    ul { width: 100%; height: auto; }
    li {
      float:left; width: 35px; height: 35px; margin-right: 20px; 
    }
    li:nth-child(2) { padding-top: 5px; }
    li:last-child { padding-top: 3px; margin-right: 0; }
    li a { width: auto; height: auto; }
  }
}

