/* Error: Undefined mixin.
 *   ,
 * 9 |   dt { font-size:36px; margin-bottom: 58px; @include title_line(); }
 *   |                                             ^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   scss\page\summary\companyBox.scss 9:45  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 9 \2502    dt { font-size:36px; margin-bottom: 58px; @include title_line(); }\d\a   \2502                                              ^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\page\\summary\\companyBox.scss 9:45  root stylesheet";
}
