@charset "UTF-8";
/* page_03.css */

/* reset.css 
================================ */

body {margin:0;}

h1,h2,h3,h4,h5,h6,
p,pre,address,
ul,ol,li,dl,dt,dd {
    margin:0; padding:0;
    font-size:1rem; /* 16px */
    font-family:sans-serif;
}

ul,ol,li,dl,dt,dd { margin:0; padding:0; }
ul,ol { list-style:none; }

a { text-decoration:none; color:inherit; } /* inherit:부모값 따르기 */
button { border:0; background-color:transparent; cursor:pointer;}

/* common.css 
=============================== */

.clearfix:after,
.clearfix::after {
    content:""; display:block; clear: both;
}


/* design
--------------------------------------------------------- */

#wrap { 
    width: 1600px; height:auto; 
    margin:auto; margin-top:50px; margin-bottom:50px;}
h1 { margin-bottom:50px;}
div {margin:auto; }

/* headBox
--------------------------------------------------------- */

#headBox { width: 1600px; height:150px ; background-color:#aaa;}
    #headBox div { 
        float:left; margin-top:34px;
        height:80px; background-color: #77f;}
    h1 {
        float:left; margin-top:34px;
        height:80px; background-color: #77f; 
        width: 250px; margin-left:50px; margin-right:75px ;
        text-align:center; font-size:2rem;
    }
    .gnb { width: 850px; margin-right:75px ;}
        .gnb li {
            float:left;
            width: 150px; height: 70px;
            margin:5px 10px;
            background-color: #dd4;
        }
    .unb {width: 250px; margin-right:50px; }

/* adViewBox
--------------------------------------------------------- */

#adViewBox { 
    width: 1600px; height:750px;
    background-color:#777; padding-top:28px;
    }
    #adViewBox div { 
    background-color: #77f; margin:auto; }
    #adViewBox .view_outer { width: 1300px; height: 600px;}
    #adViewBox .view_indicator { width: 850px; height: 60px; margin-top:28px; }
        .view_indicator li {
            float:left;
            width: 120px; height: 40px;
            margin:10px 10px;
            background-color:#dd4;
        }

/* localNavBox
--------------------------------------------------------- */

#localNavBox { 
    width: 1600px; height:250px; 
    background-color:#555; 
    margin-bottom:50px; padding-top:18px; box-sizing: border-box;}
    .local_nav_outer { width: 1500px; height: 196px; background-color: #77f; }
    .local_nav_outer li {
            float:left;
            width: 200px; height: 150px; margin:23px 15px;
            background-color:#dd4;
        }
        .local_nav_outer li:first-child {margin-left:75px}
/* popularContentBox
--------------------------------------------------------- */

#popularContentBox { width: 1600px; height: 600px; ; background-color:#777;}
h3 {
    width: 1300px; height: 50px; 
    margin:auto; margin-bottom:30px; 
    background-color: #77f;  }
.pop_con_area { width: 1300px; height: 470px; background-color: #77f;}
    .pop_con_area .part {
        float:left;
        margin:20px 31px;
        width: 350px; height: 430px; 
        background-color: #f8e;}
        .pop_con_area .part:first-child {margin-left:62px;}
        .pop_con_img { 
            width: 330px; height: 200px; 
            background-color: #b6d;
            margin:10px auto;
        }
        .pop_con_text { 
            width: 330px; height: 200px; 
            background-color: #b6d;
            margin:auto;
        }


/* newContentBox
--------------------------------------------------------- */

#newContentBox { width: 1600px; height: 900px; ; 
    background-color:#aaa; margin-bottom:80px;
    padding-top:60px;  box-sizing: border-box;
 }
#newContentBox div { background-color: #77f; margin:auto; }
.new_con_area { width:1300px; height:700px;}


/* recommendedConttentBox
--------------------------------------------------------- */

#recommendedConttentBox { 
    width: 1600px; height: 600px; 
    background-color:#777; 
    margin-bottom:80px; padding-top:30px;  box-sizing: border-box;
 }
#recommendedConttentBox div { background-color: #77f; margin:auto;}
.recom_con_area { width: 1300px; height: 440px;}
/* communityBox
--------------------------------------------------------- */

#communityBox { 
    width: 1600px; height: 800px;
    background-color:#aaa;
    margin-bottom:80px; padding-top:60px;  box-sizing: border-box;
}
#communityBox div { background-color: #77f;}
.community_area {width: 1300px; height: 600px;}

/* miniAdBox
--------------------------------------------------------- */

#miniAdBox { 
    width: 1600px; height: 400px; ; 
    background-color:#555; 
    margin-bottom:80px; padding-top:40px;  box-sizing: border-box;
}
#miniAdBox div { background-color: #77f;}
.mini_ad_outer { width: 1500px; height: 300px;}

/* footBox
--------------------------------------------------------- */

#footBox { 
    width: 1600px; height:200px ;
    background-color:#333;
    padding-top:22px;  box-sizing: border-box;
    }
#footBox div { background-color: #77f;}
.footer { width: 1300px; height: 140px;}
