// _mixin.scss

// font --------------------------------------------------------------------
@mixin font-set(){
    font-family:$font_family_en, $font_family_kr, $font_family_common;
}

@mixin text_option($size:title3, $weight:4, $line:false){
    font-size:map-get($map:$font_size2, $key:$size);
    font-weight:nth($font_weight, $weight);  
    @if $line {
        line-height:24px;
        letter-spacing:-0.006em;    
    }
}

@mixin effect_shadow_01 {
	box-shadow:0px 4px 4px rgba(0,0,0,0.250);
}

/* 다음을 font-set, text_option으로 표현함
@mixin text_style_title_02 {
	font-size:40px;
	font-weight:$font_weight_bolder;
}
@mixin text_style_title_03 {
	font-size:36px;
	font-weight:$font_weight_bolder;
}
@mixin text_style_title_04 {
	font-size:28px;
	font-weight:$font_weight_bolder;
}
@mixin text_style_title_05 {
	font-size:22px;
	font-weight:$font_weight_bolder;
}

@mixin text_style_content_01 {
	font-size:22px;
	font-weight:$font_weight_bold;
}
@mixin text_style_content_02 {
	font-size:18px;
	font-weight:$font_weight_bold;
}
@mixin text_style_content_03 {
	font-size:16px;
	font-weight:$font_weight_bold;
}
@mixin text_style_content_04 {
	font-size:12px;
	font-weight:$font_weight_bold;
}
@mixin text_style_content_04_1 {
	font-size:12px;
	font-weight:$font_weight_bold;
}
@mixin text_style_button_text {
	font-size:22px;
	font-weight:$font_weight_$font_weight_bolder;
}


@mixin text_style_style_code_01 {
	font-size:9px;
	font-weight:$font_weight_bold;
    @include text_option();
}
@mixin text_style_style_code_02 {
	font-size:10px;
	font-weight:$font_weight_bold;
    @include text_option();
}
@mixin text_style_style_code_03 {
	font-size:12px;
	font-weight:$font_weight_bold;
    @include text_option();
}
*/


// image

// size