// _variable.scss 

// color
$color_ottogi_blue: #001a72;
$color_ottogi_red: #c8102e;
$color_ottogi_yellow: #fedb00;
$color_white: #ffffff;
$color_gray_01: #dcdcdc;
$color_gray_02: #b0b0b0;
$color_gray_03: #7b7b7b;
$color_gray_04: #4a4a4a;
$color_black: #1e1e1e;


//font
$font_family_common:"NanumGothic";
$font_weight_normal:400;
$font_weight_bold:700;
$font_size:(36,24,22,18,16);



//size
$mobile:320px;
$tablet:768px;
$laptop:1280px;
$pc:1440px;
// $pcfull:1920px;