.gnb_area { 
  width: auto; height: auto; 

  & > ul {
    position:absolute; width: 100%;
    @include mobile {
      display: none; 
      top: 81px; left: 0; z-index: 10; height: 438px; background-color: $color_ottogi_red;
    }
    @include tablet {
      display: none; 
      top: 81px; left: 0; z-index: 10; height: 438px; background-color: $color_ottogi_red;
    }
    @include laptop { bottom: 0; right: 0; height: 52px; }
    @include pc { bottom: 0; right: 0; height: 52px; }

    & > li { 
      @include mobile {
        width: 100%; height: 74px; border-bottom: 1px solid #fff;
        font-size: 24px; color:#fff; line-height: 72px; text-indent: 8px;
        &:last-child { border-bottom: 0;}
      }
      @include tablet {
        width: 100%; height: 74px; border-bottom: 1px solid #fff;
        font-size: 24px; color:#fff; line-height: 72px; text-indent: 8px;
        &:last-child { border-bottom: 0;}
      }
      @include laptop {
        float: left; position: relative;
        width: (100%/6); height: auto;
        box-sizing:border-box;
  
        &:after, &::after {
          content:""; display:block;
          position:absolute; top: 0; bottom:0; right: 0; margin: auto;
          width: 0; height: 20px; border-right:1px solid rgba(30,30,30,1);
        }
        &:last-child:after, &:last-child::after { display: none; }
      }
      @include pc {
        float: left; position: relative;
        width: (100%/6); height: auto;
        box-sizing:border-box;
  
        &:after, &::after {
          content:""; display:block;
          position:absolute; top: 0; bottom:0; right: 0; margin: auto;
          width: 0; height: 20px; border-right:1px solid rgba(30,30,30,1);
        }
        &:last-child:after, &:last-child::after { display: none; }
      }
    }// li
  }// ul
}// gnb_area
.gnb_area:hover ul { display: block; }

.gnb_btn {
  position:absolute; top: 50%; left: 0;
  transform: translateY(-50%);
  width: 34px; height: 26px;
  > button { width: 100%; height: 100%; @include img('gnb_menu.png',$size:cover);}
  @include laptop { display: none; }
  @include pc { display: none; }
}

.gnb_title { 
  width: 100%; height: 52px; 
  @include mobile {height: 72px;}
  @include tablet {height: 72px;}

  a {
    display:block; width: 100%; height: 100%; 
    @include mobile {}
    @include tablet {}
    @include laptop {}
    @include pc {}
    text-align: center; line-height: 52px; 
    &:hover {
      color:rgba(200,16,46,1); font-size:1.1rem; font-weight: bold;
      box-sizing: border-box; border-bottom:3px solid rgba(200,16,46,1);
    }   
  }// a
}