<!DOCTYPE html>
<!--b_03_float_test-->
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="compatible" content="IE=edge">
        <meta name="viewport" content="width=device-witdh, initial-scale=1">

        <!--[if IE]>
            <script src="../js//common/modernizr-custom.js">
        <![endif]-->

        <link rel="stylesheet" href="../css/src/b_03_float_test.css">

        <title>float 및 clear 테스트</title>

        <link rel="shortcut icon" href="../favicon.png" type="image/png">
        <link rel="apple-touch-icon" href="../favicon.png">
    </head>
    <body>
        <!-- layout -->
            
        <div id="wrap">
            <h1><a href="a_00_content.html">웹 기초</a></h1>
            <hr /><br />

            <div class="ex_part">
                <h2>첫번째 float</h2>
                <div class="box_01">
                    <div class="inner_01"></div>
                    <div class="inner_02"></div>
                    <div class="inner_03"></div>
                </div><!--box_01-->
            </div><!--ex_part-->

            <br />

            <div class="ex_part">
                <h2>두번째 float</h2>
                <div class="box_02">
                    <div class="inner_01"></div>
                    <div class="inner_02"></div>
                    <div class="inner_03"></div>
                </div><!--box_02-->
            </div><!--ex_part-->

            <br />

            <div class="ex_part">
                <h2>세번째 float</h2>
                <div class="box_03">
                    <div class="inner_01">
                    <div class="insert_01"></div>
                    <div class="insert_02"></div>
                    </div>
                    
                    <div class="inner_02">
                    <div class="insert_01"></div>
                    <div class="insert_02"></div>
                    <div class="insert_03"></div>
                    </div>

                    <div class="inner_03">
                    <div class="insert_01"></div>
                    <div class="insert_02"></div>
                    <!--<div class="floor"></div>-->
                    </div>
                </div><!--box_03-->
            </div><!--ex_part-->

        </div><!--wrap-->

        <!-- script -->
        <script></script>
    </body>
</html>
