// main.scss
/* main.css */

@import "../common/variable", "../common/mixin";


// 변수 ----------------------------------------------------
$headH:0px;
$headH2:0px;

// 박스별로 작성하는건 작업용, 작업이 끝나면 디바이스별로 정리하여 보기 편하게하기

#wrap {
    width: 100%; height: auto; min-height: 800px;
    background-color: #ddd;
    @include mobile {
        min-width:320px;
        background-color: #fda;
    }
    @include tablet { background-color: #adf; }
    @include laptop { background-color: #fdf; }
    @include pc { background-color: #dfd; }

} // #wrap

// ---------------------------------------------------
@import "../page/base/headBox";
@import "../page/main/slideBox";
@import "../page/main/newBox";
@import "../page/main/commercialBox";
@import "../page/main/bestBox";
@import "../page/main/galleryBox";
@import "../page/main/sponsorBox";
@import "../page/base/footBox";
