@charset "UTF-8";
/* main.css */


/* common
------------------------------------------------------------ */
:root {
    --color-blue:rgba(0,26,114,1);
    --color-red:rgba(200,16,46,1);
    --color-yellow:rgba(254,219,0,1);
    --color-gray1:rgba(220,220,220,1);
    --color-gray2:rgba(176,176,176,1);
    --color-gray3:rgba(123,123,123,1);
    --color-gray4:rgba(74,74,74,1);
    --color-black:rgba(30,30,30,1);
}

a {
    display:block;
    width: 100%; height: 100%;
}

#wrap { width: 100%; height:auto; min-height:500px; }
h2 { font-size:36px; }
p { font-size:18px; }

/* upButton
------------------------------------------------------------ */
#upButton {
    position:fixed; bottom:0; right: 0; z-index: 200;
    width: 80px; height: 80px; padding: 15px;
    border-radius: 4px 0 0 0;
    background-color: rgba(74,74,74,1);    
}
#upButton a { font-size:80px;  color:#fff; text-align: center;  }



@media all and (max-width:767px){}
@media all and (min-width:768px) and (max-width:1279px){
        /* design
    ------------------------------------------------------------ */

    /* headBox
    ------------------------------------------------------------ */
    #headBox {
        width: 100%; height: 100px;
        box-sizing: border-box; padding: 40px 166px;
        background-color: rgba(254,219,0,1);
    }
        .head_inner { width: 615px; height: 62px; margin: auto; }
        h1 {
            float:left;
            width: 64px; height: 62px;
            margin-left:244px;
        }
            h1 img { width: 64px; height:auto; }

        .unb {
            float:right; position:relative;
            width: 40px; height: 40px;
            margin-top: 0;
        }
        .unb button { width: 100%; height: 100%; }
            .unb img { width: 40px; height:auto; }
            .unb_list {
                display:none;
                position: absolute; top: 45px; left: -23px;
                width: 90px; height:auto; 
                background-color: #fff; border-radius: 2px;
            }
            .unb_list li {
                width: 90px; height: 35px;
                text-transform: uppercase;
            }
            .unb_list li:first-child { border-bottom: 1px solid rgba(123,123,123,1);}
            .unb_list a {
                width: 100%; height: 100%;
                text-align: center; line-height: 30px; 
            }
            .unb_list a:hover { font-weight: bold; }
            .unb:hover .unb_list { display:block; }

        .gnb {
            float:left;
            width: 948px; height: 52px;
            margin-top:44px;
        }
            .gnb > ul { width: 100%; height:437px; }
            .gnb > ul > li { width: 100%; height: 72px; }

            .gnb_title { width: 100%; height: 100%; }
            .gnb_title a {
                display:block;
                width: 100%; height: 100%;
                text-align: center; line-height: 72px;
            }
            .gnb_title a:hover {
                color:rgba(200,16,46,1);
                font-size:1.1rem; font-weight: bold;
                box-sizing: border-box;
                border-bottom:3px solid rgba(200,16,46,1);
            }

            /* .gnb_list { display:none; } */
                

    /* viewBox
    ------------------------------------------------------------ */
    #viewBox {
        position: relative;
        width: 100%; height: 360px;
        background-color: #ccc;
    }
        .view_btn { display: none; }
            
    .indicator {
        position:absolute; 
        bottom:45px; left: 0; right: 0; z-index: 100;
        margin:auto;
        width: 190px; height: 32px;
        border-radius: 20px;
        background-color: rgba(74,74,74,1);
    }
    .indicator > ul { width: 190px; height: 32px;padding: 7px 8px; }
    .indicator li {
        float:left; margin-right: 4px;
        width: 18px; height: 18px;
    }
    .indicator li:last-child {margin-right: 0;}
    .indicator li a {
        border-radius:100%;
        background-color: rgba(176,176,176,1);
    }
    .indicator li.action > a { background-color: #fff; }
    .blind_wrap a { display:block; width: 100%; height: 100%; }
    .blind_wrap a > span {
        display:block;
        width: 0; height: 0; overflow: hidden;
    }

    .view_area { width: 100%; height: 100%; }
        .view_area a { width: 100%; height: 100%; }


    /* linkBox
    ------------------------------------------------------------ */
    #linkBox {
        width: 100%; height: 406px;
        box-sizing: border-box; padding-top:98px;
        background-color: #fff;
    }
        .link_inner { width: 700px; height: 210px; margin: auto; }
        .link_inner ul { width: 100%; height: 100%; }
        .link_inner li {
            float:left;
            width: 220px; height: 210px;
            margin-right: 20px;
        }
        .link_inner li:nth-child(3) { margin-right: 0; }
        .link_inner li:last-child { display: none; }
        .link_inner li a { border-radius: 3%; background-color: rgba(123,123,123,1); }
        
        .link_inner em {
            display: block; padding-top: 60px;
            font-size:36px; text-align:center; font-weight: bold;
        }
        .link_inner p { margin-top: 14px; text-align: center; }
        .link_inner img { width: 220px; height: 210px; border-radius: 3%; }



    /* newBox
    ------------------------------------------------------------ */
    #newBox {
        width: 100%; height: 530px;
        box-sizing: border-box; padding-top:66px;
        background-color: rgba(254,219,0,1);
    }
        .new_inner { width: 706px; height: 412px; margin: auto; }
        .new_title {
            width: 102px; height: 80px;
            margin: auto; margin-bottom: 77px;
        }
            /* .new_title a { margin-left: 8px; margin-top: 22px; }
            .new_title a:hover { font-weight:bold; } positio으로 맨 아래 이동 */
        .new_inner ul { width: auto; height: auto;  }
        .new_inner li {
            float:left;
            width: 220px; height: 210px;
            margin-right: 22px;
        }
        .new_inner li:last-child { margin-right: 0; }
        .new_inner li a {
            border-radius:100%;
            background-color: rgba(74,74,74,1);
        }
        .new img { width: 220px; height:210px; border-radius:100%; }

    /* popBox
    ------------------------------------------------------------ */
    #popBox {
        position: relative;
        width: 100%; height: 560px;
        box-sizing: border-box; padding-top: 74px;
        background-color: #fff;
    }
        .pop_inner { width: 733px; height: 394px; margin: auto; }
        .pop_title {
            width: 254px; height: auto;
            margin:auto;
            text-align: center;
        }
            .pop_title h2::after {
                content:""; display: block;
                width: 60px; border-bottom: 1px solid rgba(30,30,30,1);
                margin: 22px auto;
            }
            .pop_title p { display: none; }

        .pop_btn {
            position:absolute; top: 360px; right: 0; left: 0;
            margin:auto;
            width: 95%; height: 0;
        }
            .pop_btn .next { float:right; width: 36px; height: 70px; }
            .pop_btn .prev { float:left; width: 36px; height: 70px; }
        .pop_inner ul { width:612px; height:auto; margin: auto; margin-top: 58px; }
        .pop_inner li {
            float:left;
            width: 180px; height: 290px;
            margin-right: 34px;
            background-color: rgba(74,74,74,1);
        }
       
        .pop_inner li:last-child,
        .pop_inner li:nth-child(4) { display: none;}
        .pop_inner li:nth-child(3) {  margin-right: 0; }
        .pop_img {
            width: 180px; height: 174px;
            border:1px solid rgba(176,176,176,1);
            background-color: #fff;
        }
        .pop_text {
            width: 180px; height: 116px;
            padding: 16px;
            border:1px solid rgba(176,176,176,1);
            background-color: #fff;
        }
            .pop_name {
                text-align:center; font-size: 24px;
                margin-bottom: 36px;
            }

    /* recipeBox
    ------------------------------------------------------------ */
    #recipeBox {
        width: 100%; height: 540px;
        box-sizing: border-box; padding-top: 62px;
        background-color: rgba(200,16,46,1);
    }
        .recipe_inner {
            width: 648px; height: 415px; margin: auto;
        }
        .recipe_title {
            width: 156px; height: 86px;
            margin: auto;
            color:#fff;
        }
            .recipe_title h2 { text-transform:capitalize; }
            /* .recipe_title a { margin-left: 8px; margin-top: 22px; }
            .recipe_title a:hover { font-weight:bold; } */

        .recipe_inner ul {
            float:right;
            width: auto; height: auto;
            margin-top: 16px;
        }
        .recipe_inner li {
            position:relative;
            float:left;
            width: 180px; height: 180px;
            border-radius:100%;
            margin-right: 54px;
            background-color: rgba(74,74,74,1);
        }
        .recipe_inner li:last-child { margin-right: 0; }
        .recipe_inner li a { border-radius:100%; }
        .sub_title {
            position:absolute; top:-14px; right:0;
            width: 66px; height: 66px;
            border-radius: 100%;
            text-align: center; line-height: 66px;
            background-color: #fff;
        }
        .recipe_name {
            position:absolute; top: 250px; left: 50%;
            margin: -45px;
        }


    /* snsBox
    ------------------------------------------------------------ */
    #snsBox {
        width: 100%; height: 550px;
        box-sizing: border-box; padding-top:72px;
        background-color: #fff;
    }
        .sns_inner {
            width: 700px; height: 381px; margin: auto;
        }
        .sns_title {
            width: 382px; height: auto;
            margin:auto;
            text-align: center;
        }
            .sns_title h2::after {
                content:""; display: block;
                width: 60px; border-bottom: 1px solid rgba(30,30,30,1);
                margin: 22px auto;
            }
            .sns_title p { display: none; }
        .sns_inner ul {
            width: 100%; height: auto;
            padding-top: 46px;
        }
        .sns_inner li {
            float:left; position: relative;
            width: 220px; height: 220px;
            margin-right: 20px;
        }
        .sns_inner li:nth-child(3) { margin-right: 0; }
        .sns_inner li:last-child { display: none; margin-right: 0; }
        .sns_inner li a {
            border-radius: 5%;
            background-color: rgba(74,74,74,1);
        }
        .sns_inner li p { position:absolute; top: 230px; left: 0; }

    /* menuBox
    ------------------------------------------------------------ */
    #menuBox {
        width: 100%; height: 66px;
        box-sizing: border-box;         
        background-color: rgba(0,26,114,1);
    }
        .menu_inner { width: 966px; height: 66px; margin: auto; }
        .menu_tab { float:left; width: auto; height: auto; }
        .menu_tab li {
            float:left; position:relative;
            width: 184px; height: 66px;
        }
        .menu_tab li:after,
        .menu_tab li::after {
            content:""; display:block;
            position:absolute; top: 0; bottom:0; right: 0;
            margin: auto;
            width: 0; height: 20px; 
            border-right:1px solid #fff;
        }
        .menu_tab li:last-child:after,
        .menu_tab li:last-child::after { display: none; } 

        .menu_tab li a { text-align: center; line-height: 66px; color:#fff; }
        .menu_tab li a:hover { font-size:1.1rem; font-weight: bold; }

        .menu_sns {
            float:right; width: auto; height: auto;
            padding-top: 15px;
        }
        .menu_sns li {
            float:left; width: 35px; height: 35px;
            margin-right: 20px;
        }
        .menu_sns li:nth-child(2) { padding-top: 5px; }
        .menu_sns li:last-child { padding-top: 3px; margin-right: 0; }
        .menu_sns li a { width: auto; height: auto; }


    /* footBox
    ------------------------------------------------------------ */
    #footBox {
        width: 100%; height: 240px;
        box-sizing: border-box; padding: 50px 170px;
        background-color: #fff;
    }
    .foot_inner { width: 942px; height: 132px; margin: auto; }
    .foot_inner h2 { float:right; width: 128px; height: 124px; }
    .foot_inner h2 img { width: auto; height: 115px; }
    address { float:left; width: 576px; height: 132px; }
        address p {
            margin-bottom: 10px;
            line-height:140%; text-transform: capitalize;       
        }
        address p:last-child { margin-bottom: 0; }
        address span { text-transform: uppercase; }
}
@media all and (min-width:1280px){

    /* design
    ------------------------------------------------------------ */

    /* headBox
    ------------------------------------------------------------ */
    #headBox {
        width: 100%; height: 260px;
        box-sizing: border-box; padding: 40px 166px;
        background-color: rgba(254,219,0,1);
    }
        .head_inner { width: 948px; height: 220px; margin: auto; }
        h1 {
            float:left;
            width: 128px; height: 124px;
            margin-left:414px;
        }
            h1 img { width: 128px; height:auto; }

        .unb {
            float:right; position:relative;
            width: 40px; height: 40px;
            margin-top: 0;
        }
        .unb button { width: 100%; height: 100%; }
            .unb img { width: 40px; height:auto; }
            .unb_list {
                display:none;
                position: absolute; top: 45px; left: -23px;
                width: 90px; height:auto; 
                background-color: #fff; border-radius: 2px;
            }
            .unb_list li {
                width: 90px; height: 35px;
                text-transform: uppercase;
            }
            .unb_list li:first-child { border-bottom: 1px solid rgba(123,123,123,1);}
            .unb_list a {
                width: 100%; height: 100%;
                text-align: center; line-height: 30px; 
            }
            .unb_list a:hover { font-weight: bold; }
            .unb:hover .unb_list { display:block; }

        .gnb {
            float:right;
            width: 948px; height: 52px;
            margin-top:44px;
        }
            .gnb > ul { width: 100%; height:auto; }
            .gnb > ul > li {
                float: left; position: relative;
                width: 158px; height: auto;
                box-sizing:border-box;
            }

            .gnb > ul > li:after,
            .gnb > ul > li::after {
                content:""; display:block;
                position:absolute; top: 0; bottom:0; right: 0;
                margin: auto;
                width: 0; height: 20px; 
                border-right:1px solid rgba(30,30,30,1);
            }
            .gnb > ul > li:last-child:after,
            .gnb > ul > li:last-child::after { display: none; } 

            .gnb_title { width: 100%; height: 52px; }
            .gnb_title a {
                display:block;
                width: 100%; height: 100%;
                text-align: center; line-height: 52px;
            }
            .gnb_title a:hover {
                color:rgba(200,16,46,1);
                font-size:1.1rem; font-weight: bold;
                box-sizing: border-box;
                border-bottom:3px solid rgba(200,16,46,1);
            }

            .gnb_list {
                display:none; position:absolute; z-index: 200;
                width: auto; height: auto; min-height:260px;
                background-color:#fff;
            }
            .gnb_list li { width: 100%; height: 100%; }
            .gnb_list a {
                display: block;  width: 158px; height: 52px;
                text-align: center; line-height: 52px;
            }
            .gnb_list a:hover { color:rgba(200,16,46,1); font-weight: bold; }

            .gnb:hover .gnb_list { display:block; }
                

    /* viewBox
    ------------------------------------------------------------ */
    #viewBox {
        position: relative;
        width: 100%; height: 500px;
        background-color: #ccc;
    }
        .view_btn {
            position:absolute; top: 190px; right: 0; left: 0;
            margin:auto;
            width: 95%; height: 0;
        }
            .view_btn .next { 
                float:right;
                position:absolute; top: 0; right: 0; z-index: 100;
                width: 60px; height: 100px;
                background-color: rgba(74, 74, 74, 0.8);
            }
            .view_btn .prev { 
                float:left;
                position:absolute; top: 0; left: 0; z-index: 100;
                width: 60px; height: 100px;
                background-color: rgba(74, 74, 74, 0.8);
            }
    .indicator {
        position:absolute; 
        bottom:45px; left: 0; right: 0; z-index: 100;
        margin:auto;
        width: 190px; height: 32px;
        border-radius: 20px;
        background-color: rgba(74,74,74,1);
    }
    .indicator > ul { width: 190px; height: 32px;padding: 7px 8px; }
    .indicator li {
        float:left; margin-right: 4px;
        width: 18px; height: 18px;
    }
    .indicator li:last-child {margin-right: 0;}
    .indicator li a {
        border-radius:100%;
        background-color: rgba(176,176,176,1);
    }
    .indicator li.action > a { background-color: #fff; }
    .blind_wrap a { display:block; width: 100%; height: 100%; }
    .blind_wrap a > span {
        display:block;
        width: 0; height: 0; overflow: hidden;
    }

    .view_area { width: 100%; height: 100%; }
        .view_area a { width: 100%; height: 100%; }


    /* linkBox
    ------------------------------------------------------------ */
    #linkBox {
        width: 100%; height: 320px;
        box-sizing: border-box; padding: 55px 170px;
        background-color: #fff;
    }
        .link_inner { width: 940px; height: 210px; margin: auto; }
        .link_inner ul { width: 100%; height: 100%; }
        .link_inner li {
            float:left;
            width: 220px; height: 210px;
            margin-right: 20px;
        }
        .link_inner li:last-child { margin-right: 0; }
        .link_inner li a { border-radius: 3%; background-color: rgba(123,123,123,1); }
        
        .link_inner em {
            display: block; padding-top: 60px;
            font-size:36px; text-align:center; font-weight: bold;
        }
        .link_inner p { margin-top: 14px; text-align: center; }
        .link_inner img { width: 220px; height: 210px; border-radius: 3%; }



    /* newBox
    ------------------------------------------------------------ */
    #newBox {
        width: 100%; height: 420px;
        box-sizing: border-box; padding-top:105px;
        border-radius:0 200px 200px 0;
        background-color: rgba(254,219,0,1);
    }
        .new_inner { width: 880px; height: 210px; margin: auto; }
        .new_title {
            float:left;
            width: 102px; height: 80px;
            margin-top: 60px; margin-right: 66px;
        }
            .new_title a { margin-left: 8px; margin-top: 22px; }
            .new_title a:hover { font-weight:bold; }
        .new_inner ul { float:left; width: auto; height: auto; }
        .new_inner li {
            float:left;
            width: 220px; height: 210px;
            margin-right: 22px;
        }
        .new_inner li:last-child { margin-right: 0; }
        .new_inner li a {
            border-radius:100%;
            background-color: rgba(74,74,74,1);
        }
        .new img { width: 220px; height:210px; border-radius:100%; }

    /* popBox
    ------------------------------------------------------------ */
    #popBox {
        position: relative;
        width: 100%; height: 660px;
        box-sizing: border-box; padding: 0 170px; padding-top: 96px;
        background-color: #fff;
    }
        .pop_inner { width: 940px; height: 446px; margin: auto; }
        .pop_title {
            width: 254px; height: auto;
            margin:auto;
            text-align: center;
        }
            .pop_title h2::after {
                content:""; display: block;
                width: 60px; border-bottom: 1px solid rgba(30,30,30,1);
                margin: 22px auto;
            }

        .pop_btn {
            position:absolute; top: 360px; right: 0; left: 0;
            margin:auto;
            width: 82%; height: 0;
        }
            .pop_btn .next { float:right; width: 36px; height: 70px; }
            .pop_btn .prev { float:left; width: 36px; height: 70px; }
        .pop_inner ul { width:auto; height:auto; margin-top: 58px; }
        .pop_inner li {
            float:left;
            width: 180px; height: 290px;
            margin-right: 10px;
            background-color: rgba(74,74,74,1);
        }
        .pop_inner li:last-child { margin-right: 0; }
        .pop_img {
            width: 180px; height: 174px;
            border:1px solid rgba(176,176,176,1);
            background-color: #fff;
        }
        .pop_text {
            width: 180px; height: 116px;
            padding: 16px;
            border:1px solid rgba(176,176,176,1);
            background-color: #fff;
        }
            .pop_name {
                text-align:center; font-size: 24px;
                margin-bottom: 36px;
            }

    /* recipeBox
    ------------------------------------------------------------ */
    #recipeBox {
        width: 100%; height: 420px;
        box-sizing: border-box; padding:104px 198px;
        border-radius: 200px 0 0 200px;
        background-color: rgba(200,16,46,1);
    }
        .recipe_inner {
            width: 870px; height: 246px; margin: auto;
        }
        .recipe_title {
            float:right;
            width: 156px; height: 86px;
            margin-top: 46px; margin-left:66px;
            color:#fff;
        }
            .recipe_title h2 { text-transform:capitalize; }
            .recipe_title a { margin-left: 8px; margin-top: 22px; }
            .recipe_title a:hover { font-weight:bold; }

        .recipe_inner ul {
            float:right;
            width: auto; height: auto;
            margin-top: 16px;
        }
        .recipe_inner li {
            position:relative;
            float:left;
            width: 180px; height: 180px;
            border-radius:100%;
            margin-right: 54px;
            background-color: rgba(74,74,74,1);
        }
        .recipe_inner li:last-child { margin-right: 0; }
        .recipe_inner li a { border-radius:100%; }
        .sub_title {
            position:absolute; top:-14px; right:0;
            width: 66px; height: 66px;
            border-radius: 100%;
            text-align: center; line-height: 66px;
            background-color: #fff;
        }
        .recipe_name {
            position:absolute; top: 250px; left: 50%;
            margin: -45px;
        }


    /* snsBox
    ------------------------------------------------------------ */
    #snsBox {
        width: 100%; height: 620px;
        box-sizing: border-box; padding:0 170px; padding-top:88px;
        background-color: #fff;
    }
        .sns_inner {
            width: 940px; height: 400px; margin: auto;
        }
        .sns_title {
            width: 382px; height: auto;
            margin:auto;
            text-align: center;
        }
            .sns_title h2::after {
                content:""; display: block;
                width: 60px; border-bottom: 1px solid rgba(30,30,30,1);
                margin: 22px auto;
            }
        .sns_inner ul {
            width: 100%; height: auto;
            padding-top: 46px;
        }
        .sns_inner li {
            float:left; position: relative;
            width: 220px; height: 220px;
            margin-right: 20px;
        }
        .sns_inner li:last-child { margin-right: 0; }
        .sns_inner li a {
            border-radius: 5%;
            background-color: rgba(74,74,74,1);
        }
        .sns_inner li p { position:absolute; top: 230px; left: 0; }

    /* menuBox
    ------------------------------------------------------------ */
    #menuBox {
        width: 100%; height: 66px;
        box-sizing: border-box;         
        background-color: rgba(0,26,114,1);
    }
        .menu_inner { width: 966px; height: 66px; margin: auto; }
        .menu_tab { float:left; width: auto; height: auto; }
        .menu_tab li {
            float:left; position:relative;
            width: 184px; height: 66px;
        }
        .menu_tab li:after,
        .menu_tab li::after {
            content:""; display:block;
            position:absolute; top: 0; bottom:0; right: 0;
            margin: auto;
            width: 0; height: 20px; 
            border-right:1px solid #fff;
        }
        .menu_tab li:last-child:after,
        .menu_tab li:last-child::after { display: none; } 

        .menu_tab li a { text-align: center; line-height: 66px; color:#fff; }
        .menu_tab li a:hover { font-size:1.1rem; font-weight: bold; }

        .menu_sns {
            float:right; width: auto; height: auto;
            padding-top: 15px;
        }
        .menu_sns li {
            float:left; width: 35px; height: 35px;
            margin-right: 20px;
        }
        .menu_sns li:nth-child(2) { padding-top: 5px; }
        .menu_sns li:last-child { padding-top: 3px; margin-right: 0; }
        .menu_sns li a { width: auto; height: auto; }


    /* footBox
    ------------------------------------------------------------ */
    #footBox {
        width: 100%; height: 240px;
        box-sizing: border-box; padding: 50px 170px;
        background-color: #fff;
    }
    .foot_inner { width: 942px; height: 132px; margin: auto; }
    .foot_inner h2 { float:right; width: 128px; height: 124px; }
    .foot_inner h2 img { width: auto; height: 115px; }
    address { float:left; width: 576px; height: 132px; }
        address p {
            margin-bottom: 10px;
            line-height:140%; text-transform: capitalize;       
        }
        address p:last-child { margin-bottom: 0; }
        address span { text-transform: uppercase; }

 } /* @media all and (min-width:1280px) */