/* main.css */
#wrap {
  min-width: 320px;
}

#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  #wrap {
    min-width: 320px;
    background-color: #fda;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #wrap {
    background-color: #adf;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #wrap {
    background-color: #fdf;
  }
}
@media all and (min-width: 1440px) {
  #wrap {
    background-color: #dfd;
  }
}

#headBox {
  width: 100%;
  background-color: #fedb00;
  box-sizing: border-box;
}
@media all and (max-width: 767px) {
  #headBox {
    height: 100px;
    height: 6.25rem;
    padding-top: 19px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #headBox {
    height: 100px;
    height: 6.25rem;
    padding-top: 19px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #headBox {
    height: 260px;
    height: 16.25rem;
    padding-top: 48px;
  }
}
@media all and (min-width: 1440px) {
  #headBox {
    height: 260px;
    height: 16.25rem;
    padding-top: 48px;
  }
}

.head_inner {
  position: relative;
  margin: auto;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  .head_inner {
    width: 270px;
    height: 62px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .head_inner {
    width: 616px;
    height: 62px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .head_inner {
    width: 946px;
    height: 212px;
  }
}
@media all and (min-width: 1440px) {
  .head_inner {
    width: 946px;
    height: 212px;
  }
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
}
@media all and (max-width: 767px) {
  h1 {
    width: 64px;
    height: 62px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  h1 {
    width: 64px;
    height: 62px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  h1 {
    width: 128px;
    height: 124px;
  }
}
@media all and (min-width: 1440px) {
  h1 {
    width: 128px;
    height: 124px;
  }
}

.gnb_area {
  width: auto;
  height: auto;
}
.gnb_area .gnb_btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 34px;
  height: 26px;
  background-color: #fff;
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .gnb_area .gnb_btn {
    display: none;
  }
}
@media all and (min-width: 1440px) {
  .gnb_area .gnb_btn {
    display: none;
  }
}
.gnb_area ul {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
}
@media all and (max-width: 767px) {
  .gnb_area ul {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .gnb_area ul {
    display: none;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .gnb_area ul {
    height: 52px;
  }
}
@media all and (min-width: 1440px) {
  .gnb_area ul {
    height: 52px;
  }
}

.unb_area {
  width: auto;
  height: auto;
}
.unb_area .unb_btn {
  position: absolute;
  right: 0;
  background-color: #fff;
}
@media all and (max-width: 767px) {
  .unb_area .unb_btn {
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .unb_area .unb_btn {
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .unb_area .unb_btn {
    width: 40px;
    height: 40px;
  }
}
@media all and (min-width: 1440px) {
  .unb_area .unb_btn {
    width: 40px;
    height: 40px;
  }
}

#viewBox {
  position: relative;
  width: 100%;
  background-color: #dcdcdc;
}
@media all and (max-width: 767px) {
  #viewBox {
    height: 300px;
    height: 18.75rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #viewBox {
    height: 360px;
    height: 22.5rem;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #viewBox {
    height: 500px;
    height: 31.25rem;
  }
}
@media all and (min-width: 1440px) {
  #viewBox {
    height: 500px;
    height: 31.25rem;
  }
}

.view_btn_area {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 95%;
  height: auto;
  margin: auto;
  transform: translateY(-50%);
}
.view_btn_area button {
  width: 60px;
  height: 100px;
  background-color: #4a4a4a;
}
.view_btn_area .next {
  float: right;
}
.view_btn_area .prev {
  float: left;
}
@media all and (max-width: 767px) {
  .view_btn_area {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .view_btn_area {
    display: none;
  }
}

.indicator {
  position: absolute;
  left: 0;
  right: 0;
  width: 190px;
  height: 32px;
  margin: auto;
  background-color: #4a4a4a;
  border-radius: 20px;
}
@media all and (max-width: 767px) {
  .indicator {
    bottom: 14px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .indicator {
    bottom: 20px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .indicator {
    bottom: 45px;
  }
}
@media all and (min-width: 1440px) {
  .indicator {
    bottom: 45px;
  }
}

.view_area {
  width: 100%;
  height: 100%;
}

#linkBox {
  width: 100%;
  background-color: #ffffff;
}
@media all and (max-width: 767px) {
  #linkBox {
    height: 480px;
    height: 30rem;
    padding-top: 65px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #linkBox {
    height: 406px;
    height: 25.375rem;
    padding-top: 98px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #linkBox {
    height: 320px;
    height: 20rem;
    padding-top: 55px;
  }
}
@media all and (min-width: 1440px) {
  #linkBox {
    height: 320px;
    height: 20rem;
    padding-top: 55px;
  }
}

.link_inner {
  height: 210px;
  margin: auto;
}
@media all and (max-width: 767px) {
  .link_inner {
    width: 280px;
    height: 350px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .link_inner {
    width: 700px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .link_inner {
    width: 940px;
  }
}
@media all and (min-width: 1440px) {
  .link_inner {
    width: 940px;
  }
}

.link_con {
  width: 100%;
  height: 100%;
}
.link_con li {
  float: left;
  width: 220px;
  height: 100%;
  margin-right: 20px;
  background-color: #888;
  border-radius: 4px;
}
.link_con li:nth-child(4) {
  margin-right: 0;
}
@media all and (max-width: 767px) {
  .link_con li {
    width: 280px;
    height: 100px;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .link_con li:nth-child(3) {
    margin-bottom: 0;
  }
  .link_con li:last-child {
    display: none;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .link_con li:nth-child(3) {
    margin-right: 0;
  }
  .link_con li:last-child {
    display: none;
  }
}
#newBox {
  width: 100%;
  background-color: #fedb00;
}
@media all and (max-width: 767px) {
  #newBox {
    height: 500px;
    height: 31.25rem;
    padding-top: 44px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #newBox {
    height: 530px;
    height: 33.125rem;
    padding-top: 66px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #newBox {
    height: 420px;
    height: 26.25rem;
    padding-top: 105px;
  }
}
@media all and (min-width: 1440px) {
  #newBox {
    height: 420px;
    height: 26.25rem;
    padding-top: 105px;
  }
}

.new_inner {
  position: relative;
  height: auto;
  margin: auto;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  .new_inner {
    width: 220px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .new_inner {
    width: 706px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .new_inner {
    width: 877px;
  }
}
@media all and (min-width: 1440px) {
  .new_inner {
    width: 877px;
  }
}

.new_title {
  width: 100px;
  height: 36px;
  background-color: #fff;
}
@media all and (max-width: 767px) {
  .new_title {
    height: 36px;
    margin: auto;
  }
  .new_title {
    margin-bottom: 60px;
  }
  .new_title:after, .new_title::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 1px solid #c8102e;
    margin: 30px auto;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .new_title {
    height: 36px;
    margin: auto;
  }
  .new_title {
    margin-bottom: 60px;
  }
  .new_title:after, .new_title::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 1px solid #c8102e;
    margin: 30px auto;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .new_title {
    float: left;
    margin-top: 65px;
    margin-right: 70px;
  }
}
@media all and (min-width: 1440px) {
  .new_title {
    float: left;
    margin-top: 65px;
    margin-right: 70px;
  }
}

.new_con {
  width: auto;
  height: 210px;
}
.new_con li {
  float: left;
  width: 220px;
  height: 210px;
  margin-right: 23px;
  background-color: #fff;
  border-radius: 100%;
}
.new_con li:last-child {
  margin-right: 0;
}
@media all and (max-width: 767px) {
  .new_con li {
    margin-right: 0;
  }
  .new_con li:nth-child(2), .new_con li:nth-child(3) {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .new_btn {
    width: 120px;
    height: 36px;
    margin: auto;
    padding-top: 50px;
    box-sizing: content-box;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .new_btn {
    width: 120px;
    height: 36px;
    margin: auto;
    padding-top: 50px;
    box-sizing: content-box;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .new_btn {
    position: absolute;
    top: 100px;
    left: 0;
  }
}
@media all and (min-width: 1440px) {
  .new_btn {
    position: absolute;
    top: 100px;
    left: 0;
  }
}
.new_btn .more {
  width: 100%;
  height: 100%;
}
@media all and (max-width: 767px) {
  .new_btn .more {
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 36px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .new_btn .more {
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    line-height: 36px;
  }
}
#popBox {
  width: 100%;
  background-color: #ffffff;
}
@media all and (max-width: 767px) {
  #popBox {
    height: 560px;
    height: 35rem;
    padding-top: 74px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #popBox {
    height: 560px;
    height: 35rem;
    padding-top: 74px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #popBox {
    height: 660px;
    height: 41.25rem;
    padding-top: 97px;
  }
}
@media all and (min-width: 1440px) {
  #popBox {
    height: 660px;
    height: 41.25rem;
    padding-top: 97px;
  }
}

.pop_inner {
  margin: auto;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  .pop_inner {
    width: 292px;
    height: 400px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .pop_inner {
    width: 733px;
    height: 394px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .pop_inner {
    width: 1056px;
    height: 455px;
  }
}
@media all and (min-width: 1440px) {
  .pop_inner {
    width: 1056px;
    height: 455px;
  }
}

#recipeBox {
  width: 100%;
  background-color: #c8102e;
}
@media all and (max-width: 767px) {
  #recipeBox {
    height: 540px;
    height: 33.75rem;
    padding-top: 68px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #recipeBox {
    height: 540px;
    height: 33.75rem;
    padding-top: 68px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #recipeBox {
    height: 420px;
    height: 26.25rem;
    padding-top: 104px;
  }
}
@media all and (min-width: 1440px) {
  #recipeBox {
    height: 420px;
    height: 26.25rem;
    padding-top: 104px;
  }
}

.recipe_inner {
  margin: auto;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  .recipe_inner {
    width: 170px;
    height: 407px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .recipe_inner {
    width: 648px;
    height: 415px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .recipe_inner {
    width: 872px;
    height: 244px;
  }
}
@media all and (min-width: 1440px) {
  .recipe_inner {
    width: 872px;
    height: 244px;
  }
}

#snsBox {
  width: 100%;
  background-color: #ffffff;
}
@media all and (max-width: 767px) {
  #snsBox {
    height: 804px;
    height: 50.25rem;
    padding-top: 72px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #snsBox {
    height: 550px;
    height: 34.375rem;
    padding-top: 72px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #snsBox {
    height: 620px;
    height: 38.75rem;
    padding-top: 84px;
  }
}
@media all and (min-width: 1440px) {
  #snsBox {
    height: 620px;
    height: 38.75rem;
    padding-top: 84px;
  }
}

.sns_inner {
  margin: auto;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  .sns_inner {
    width: 220px;
    height: 655px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .sns_inner {
    width: 700px;
    height: 380px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .sns_inner {
    width: 940px;
    height: 402px;
  }
}
@media all and (min-width: 1440px) {
  .sns_inner {
    width: 940px;
    height: 402px;
  }
}

#menuBox {
  width: 100%;
  background-color: #001a72;
}
@media all and (max-width: 767px) {
  #menuBox {
    height: 166px;
    height: 10.375rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #menuBox {
    height: 132px;
    height: 8.25rem;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #menuBox {
    height: 66px;
    height: 4.125rem;
  }
}
@media all and (min-width: 1440px) {
  #menuBox {
    height: 66px;
    height: 4.125rem;
  }
}

.menu_inner {
  height: 100%;
  margin: auto;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  .menu_inner {
    width: 100%;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .menu_inner {
    width: 620px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .menu_inner {
    width: 965px;
  }
}
@media all and (min-width: 1440px) {
  .menu_inner {
    width: 965px;
  }
}

#footBox {
  width: 100%;
  background-color: #ffffff;
}
@media all and (max-width: 767px) {
  #footBox {
    height: 124px;
    height: 7.75rem;
    padding-top: 37px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  #footBox {
    height: 238px;
    height: 14.875rem;
    padding-top: 60px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  #footBox {
    height: 240px;
    height: 15rem;
    padding-top: 50px;
  }
}
@media all and (min-width: 1440px) {
  #footBox {
    height: 240px;
    height: 15rem;
    padding-top: 50px;
  }
}

.foot_inner {
  margin: auto;
  background-color: #ddd;
}
@media all and (max-width: 767px) {
  .foot_inner {
    width: 248px;
    height: 65px;
  }
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .foot_inner {
    width: 518px;
    height: 132px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1439px) {
  .foot_inner {
    width: 942px;
    height: 132px;
  }
}
@media all and (min-width: 1440px) {
  .foot_inner {
    width: 942px;
    height: 132px;
  }
}

/*# sourceMappingURL=main.css.map */
