// _newBox.scss

#newBox {
  width: 100%;
  background-color: $color_ottogi_yellow;
  @include mobile { @include remUnit(height, 500); padding-top: 44px; }
  @include tablet { @include remUnit(height, 530); padding-top: 66px; }
  @include laptop { @include remUnit(height, 420); padding-top: 105px; }
  @include pc { @include remUnit(height, 420); padding-top: 105px; }
}// #newBox

.new_inner {
  position:relative;
  height: auto; margin: auto; background-color: #ddd;
  @include mobile { width: 220px;  }
  @include tablet { width: 706px;  }
  @include laptop { width: 877px; }
  @include pc { width: 877px; }
}

.new_title {
  
  width: 100px; height: 36px; background-color: #fff;
  
  @include mobile { height: 36px; margin: auto; @include title_line(); }
  @include tablet { height: 36px; margin: auto; @include title_line(); }
  @include laptop { float:left; margin-top: 65px; margin-right: 70px; }
  @include pc { float:left; margin-top: 65px; margin-right: 70px; }
 }

.new_con { 
  width: auto; height: 210px;
  li { 
    float:left;
    width: 220px; height: 210px; margin-right: 23px;
    background-color: #fff; border-radius: 100%;
    &:last-child { margin-right: 0; }
    @include mobile { 
      margin-right: 0;
      &:nth-child(2), &:nth-child(3) {display: none;}
    }
  }
}

.new_btn {   
  @include mobile { 
    width: 120px; height: 36px;
    margin: auto; padding-top: 50px; box-sizing: content-box; 
  }
  @include tablet { 
    width: 120px; height: 36px;
    margin: auto; padding-top: 50px; box-sizing: content-box; 
  }
  @include laptop { position:absolute; top: 100px; left: 0; }
  @include pc { position:absolute; top: 100px; left: 0; }

  .more {
    width: 100%; height: 100%;
    @include mobile {      
      background-color: #fff;  border-radius:20px;
      text-align: center; line-height:36px;
    }
    @include tablet {
      background-color: #fff;  border-radius:20px;
      text-align: center; line-height:36px;
    }
    @include laptop {}
    @include pc {}
  }
} 